<app-menu></app-menu>

<div class="principal absolute">
    <div class="personal">
        <div class="title-personal font-bold">MY CONTACT</div>

        <div class="surface-overlay border-transparent border-1 my-3  text-left">
            <ul class="list-disc">
                <li class="my-3 font-bold list-none p-0">
                    Eduar Andrés Castañeda Molina
                </li>
                <li class="my-2 ">Mathematician</li>
                <li class="my-2 ">eduarcastanedam@gmail.com</li>
                <li class="my-2 ">+57 316 551 0733</li>
            </ul>
        </div>
    </div>

    <div class="refer">
        <div class="title-refer font-bold">PERSONAL REFERENCES</div>
        <br>
        <div class="conainer-card card">
            <p-accordion [activeIndex]="0">

                <p-accordionTab header="Referencia I">
                    <span class="name flex align-items-center justify-content-start">
                        <div class="card">
                            <p-avatar image="../../assets/imgs/JorgeMario.jpg"
                                styleClass="m-2" shape="circle">
                            </p-avatar>
                        </div>
                        Jorge Mario Henao Arroyave
                    </span>
                    <li class="text-sm">👨‍💼 Director I.E La Paz</li>
                    <li class="text-sm">📩 jorgemario1163@gmail.com</li>
                    <li class="text-sm">📞 +57 314 632 4632</li>
                </p-accordionTab>

                <p-accordionTab header="Referencia II">
                    <span class="name flex align-items-center justify-content-start">
                        <div class="card">
                            <p-avatar image="../../assets/imgs/Sebas.png"
                                styleClass="m-2" shape="circle">
                            </p-avatar>
                        </div>
                        Sebastián Castañeda Castañeda
                    </span>
                    <li class="text-sm">👨‍💼 Industrial Engineer</li>
                    <li class="text-sm">📩 sebastian.castaneda277@gmail.com</li>
                    <li class="text-sm">📞 +57 313 492 9625</li>
                </p-accordionTab>

                <p-accordionTab header="Referencia III">
                    <span class="name flex align-items-center justify-content-start">
                        <div class="card">
                            <p-avatar image="../../assets/imgs/Fabian.png"
                                styleClass="m-2" shape="circle">
                            </p-avatar>
                        </div>
                        Fabián E. Castañeda Molina
                    </span>
                    <li class="text-sm">👨‍💼 Industrial Engineer</li>
                    <li class="text-sm">📩 fabianc.molina@gmail.com</li>
                    <li class="text-sm">📞 +57 312 208 7434</li>
                </p-accordionTab>

                <p-accordionTab header="Referencia IV">
                    <span class="name flex align-items-center justify-content-start">
                        <div class="card">
                            <p-avatar image="../../assets/imgs/Juan.png"
                                styleClass="m-2" shape="circle">
                            </p-avatar>
                        </div>
                        Juan Camilo Castañeda Castro
                    </span>
                    <li class="text-sm">👨‍💼 Automation analyst</li>
                    <li class="text-sm">📩 juan.castaneda@sofka.com.co</li>
                    <li class="text-sm">📞 +57 319 673 6669</li>
                </p-accordionTab>

            </p-accordion>
        </div>
    </div>
</div>

<app-footer></app-footer>