<app-menu></app-menu>

<div class="principal absolute">
    <div class="personal">
        <div class="title-personal font-bold">MY CONTACT</div>

        <div class="surface-overlay  border-round border-1 border-primary my-3  text-left">
            <ul class="list-disc">
                <li class="my-2 font-bold">Eduar Andrés Castañeda Molina</li>
                <li class="my-2 font-bold">Mathematician</li>
                <li class="my-2 font-bold">eduarcastanedam@gmail.com</li>
                <li class="my-2 font-bold">+57 316 551 0733</li>
            </ul>
        </div>
    </div>

    <div class="refer">
        <div class="title-refer font-bold">PERSONAL REFERENCES</div>
        <br>
        <div class="conainer-card card">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Referencia I">
                    <span class="name">Jorge Mario Henao Arroyave</span>
                    <li class="text-sm">👨‍💼 Director I.E La Paz</li>
                    <li class="text-sm">📩 jorgemario1163@gmail.com</li>
                    <li class="text-sm">📞 +57 314 632 4632</li>
                </p-accordionTab>
                <p-accordionTab header="Referencia II">
                    <strong class="name">Sebastián Castañeda Castañeda</strong>
                    <li class="text-sm">👨‍💼 Industrial Engineer</li>
                    <li class="text-sm">📩 sebastian.castaneda277@gmail.com</li>
                    <li class="text-sm">📞 +57 313 492 9625</li>
                </p-accordionTab>
                <p-accordionTab header="Referencia III">
                    <span class="name">Fabián E. Castañeda Molina</span>
                    <li class="text-sm">👨‍💼 Industrial Engineer</li>
                    <li class="text-sm">📩 fabianc.molina@gmail.com</li>
                    <li class="text-sm">📞 +57 312 208 7434</li>
                </p-accordionTab>
                <p-accordionTab header="Referencia IV">
                    <span class="name">Juan Camilo Castañeda Castro</span>
                    <li class="text-sm">👨‍💼 Automation analyst</li>
                    <li class="text-sm">📩 juan.castaneda@sofka.com.co</li>
                    <li class="text-sm">📞 +57 319 673 6669</li>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>

<app-footer></app-footer>