<app-nav-bar></app-nav-bar>

<div class="principal">
    <div class="cont-hijo1">
    </div>
    <div class="cont-hijo2">
        <div class="info">
            <p>I am a mathematician specializing in statistics, holding a master's degree in the field.
                My primary interest lies in utilizing advanced mathematical and statistical techniques to tackle
                intricate problems and derive valuable insights through data analysis. Over the course of more
                than 3 years, I have honed my skills in performing statistical analysis using tools such as R,
                SQL, and data visualization platforms like Power BI. My goal is to overcome analytical challenges
                and extract meaningful information to facilitate strategic decision-making. Through my academic
                background, I have cultivated a solid foundation in mathematical modeling and predictive analysis,
                enabling me to approach projects efficiently and deliver accurate results. I possess a keen passion
                for problem-solving and possess sharp analytical abilities. I am enthusiastic about employing my skills
                and knowledge in a data-driven work environment.</p>
        </div>
    </div>
</div>
<div class="descripcion">
    <div class="desc-1" >
        <h2>Mathematician <br>
            Master of science in statistics</h2>
    </div>
    
    <div class="desc-2" >
        <p>descripcion</p>
    </div>
</div>

    <app-footer></app-footer>