<app-nav-bar></app-nav-bar>
<div class="powerbi">
    <div class="powe1">
        <h3>Project based in power Bi 1</h3>
        <iframe class="powercont" title="pruebaVaale" width="90%" height="373.5"
            src="https://app.powerbi.com/view?r=eyJrIjoiMWQ0MzQzNDEtZWM4OC00YWQyLThhY2MtOWQ1NWI0M2VlMTc2IiwidCI6IjBkZmE1ZGMwLTAzNmYtNDYxNS05OWU0LTk0YWY4MjJmMmI4NCIsImMiOjF9"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="power2">
        <h3>Project based in power Bi 2</h3>
        <iframe class="powercont" title="Report Section" width="90%" height="373.5"
            src="https://app.powerbi.com/view?r=eyJrIjoiZTZkYTgzOWEtMzRjZS00Mjg1LWEwYWYtZThmMzIyMzI5ZTZmIiwidCI6IjBkZmE1ZGMwLTAzNmYtNDYxNS05OWU0LTk0YWY4MjJmMmI4NCIsImMiOjF9"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>