<app-nav-bar></app-nav-bar>
<div class="principal">
    <div class="personal">
        <div class="title-personal">
            MY CONTACT
        </div>
        <div class="cont-personal">
            <span class="name">Eduar Andrés Castañeda Molina</span>
            <p>Mathematician</p>
            <p>📩 eduarcastanedam@gmail.com</p>
            <p>📞 +57 316 551 0733</p>
        </div>
    </div>
    <div class="refer">
        <div class="title-refer">
            PERSONAL REFERENCES
        </div>
        <div class="cont-ref">
            <span class="name">Jorge Mario Henao Arroyave</span>
            <p>Director I.E La Paz</p>
            <p>📩 jorgemario1163@gmail.com</p>
            <p>📞 +57 314 632 4632</p>
        </div>
        <div class="cont-ref">
            <span class="name">Sebastián Castañeda Castañeda</span>
            <p>Industrial Engineer</p>
            <p>📩 sebastian.castaneda277@gmail.com</p>
            <p>📞 +57 313 492 9625</p>
        </div>
        <div class="cont-ref">
            <span class="name">Fabián E. Castañeda Molina</span>
            <p>Industrial Engineer</p>
            <p>📩 fabianc.molina@gmail.com</p>
            <p>📞 +57 312 208 7434</p>
        </div>
        <div class="cont-ref">
            <span class="name">Juan Camilo Castañeda Castro</span>
            <p>Automation analyst</p>
            <p>📩 juan.castaneda@sofka.com.co</p>
            <p>📞 +57 319 673 6669</p>
        </div>
    </div>
</div>