<app-menu></app-menu>

<ng-template #loadingTemplate>
  <div class="loading">
      <app-loading-spinner></app-loading-spinner>
  </div>
</ng-template>

<div *ngIf="isLoading; else content">
  <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
</div>

<ng-template #content>
<div style="width: 400px; text-align: center; margin: 0 auto; margin-top: 100px;"><h1>COMING SOON ...</h1></div>


  <!-- <div class="principal">
    <div class="personal">
      <div class="title-personal" id="title">
        MASTER
      </div>
      <div class="cont-personal">
        <span class="name">Lorem ipsum dolor sit amet consectetur, adipisicing elit...</span>
      </div>
    </div>
  </div>


  <div class="banter-loader">
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
    <div class="banter-loader__box"></div>
  </div> -->

</ng-template>
<app-footer></app-footer>
