.padre{
    padding: 20px;
    margin-top: 60px;
    
}
.skill{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.descrip{
    padding: 20px;
    border-radius: 10px;
    width: 146%;
    position: relative;
    right: 150px;
}
.cont{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 7px;
}
.logo{
    padding: 7px;
}
.logo img{
    width: 80px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 8px; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);  
}