<app-nav-bar></app-nav-bar>
<div class="padre">
<div class="cont">

  <div class="skill">
    <div class="logo">
      <img src="../../assets/imgs/storytelling.jpg" alt="">
    </div>
    <div class="descrip">
      <span> <strong>Storytelling</strong> </span>
      <p>Proficient in crafting engaging narratives and effectively conveying complex information through compelling stories. Able to communicate ideas and concepts in a clear and concise manner to various audiences.</p>
    </div>
  </div>

  <div class="skill">
    <div class="logo">
      <img src="../../assets/imgs/ClusteringTechniques.png" alt="">
    </div>
    <div class="descrip">
      <span> <strong>Clustering Techniques</strong> </span>
      <p>Skilled in applying clustering algorithms to unlabeled datasets for pattern recognition and data segmentation. Capable of identifying underlying structures and grouping similar data points together.</p>
    </div>
  </div>

  <div class="skill">
    <div class="logo">
      <img src="../../assets/imgs/RRStudio.png" alt="">
    </div>
    <div class="descrip">
      <span> <strong>R & R Studio</strong> </span>
      <p>Experienced in using the R programming language and R Studio environment for data analysis, statistical modeling, and visualization. Proficient in leveraging R's extensive libraries for diverse analytical tasks.</p>
    </div>
  </div>

  <div class="skill">
    <div class="logo">
      <img src="../../assets/imgs/phyton.jpg" alt="">
    </div>
    <div class="descrip"> 
      <span> <strong>Python</strong> </span>
      <p>Proficient in Python programming and its versatile application across data analysis, machine learning, and web development. Skilled in utilizing Python libraries to manipulate data and build efficient solutions.</p>
    </div>
  </div>

  <div class="skill">
    <div class="logo">
      <img src="../../assets/imgs/excel.png" alt="">
    </div>
    <div class="descrip">  
      <span> <strong>Excel</strong> </span>
      <p>Advanced proficiency in Microsoft Excel, adept at data manipulation, analysis, and visualization. Capable of creating complex spreadsheets, performing calculations, and generating insightful reports.</p>
    </div>
  </div>

  <div class="skill">
    <div class="logo">
      <img src="../../assets/imgs/png-transparent-microsoft-sql.png" alt="">
    </div>
    <div class="descrip">  
      <span> <strong>SQL</strong> </span>
      <p>Strong command of SQL (Structured Query Language) for efficiently managing and querying relational databases. Able to retrieve, filter, and analyze data to extract meaningful insights.</p>
    </div>
  </div>

  <div class="skill">
    <div class="logo">
      <img src="../../assets/imgs/powerbi.png" alt="">
    </div>
    <div class="descrip">  
      <span> <strong>Power BI</strong> </span>
      <p>Skilled in using Power BI for data visualization and business intelligence. Proficient in creating interactive dashboards and reports to facilitate data-driven decision-making.</p>
    </div>
  </div>

  <div class="skill">
    <div class="logo">
      <img src="../../assets/imgs/git.png" alt="">
    </div>
    <div class="descrip">  
      <span> <strong>Git Version Control</strong> </span>
      <p>Knowledgeable in using Git as a version control system to track changes in code, collaborate with teams, and manage software development projects efficiently.</p>
    </div>
  </div>

</div>
</div>
