<app-menu></app-menu>

<div class="container">

  <div class="cont-hij1">

    <div class="desc-1">
      <h2>Hello, It's Me</h2>
      <h1>Eduar Andrés Castañeda Molina</h1>
      <h3> Mathematician Master Of Science In Statistics </h3>
    </div>

    <div class="info">
      <p>
        I am a mathematician with expertise in statistics, holding a master's degree in the field. My main focus is on
        employing
        advanced mathematical and statistical techniques to address complex problems and extract valuable insights
        through data
        analysis. Over a period of more than 3 years, I have refined my abilities in conducting statistical analysis
        using tools
        such as R, SQL, and data visualization platforms like Power BI. My objective is to overcome analytical
        challenges and
        extract meaningful information to aid in strategic decision-making.

        Through my academic background, I have established a strong foundation in mathematical modeling and predictive
        analysis,
        enabling me to approach projects efficiently and deliver precise results. I am deeply passionate about
        problem-solving
        and possess strong analytical skills. I am enthusiastic about applying my skills and knowledge within a
        data-driven work
        environment.
      </p>
    </div>
  </div>

  <div class="cont-hij2">
    <img src="../../assets/imgs/1679415622243-removebg-preview.png" alt="">
  </div>

</div>



<app-footer></app-footer>