<app-menu></app-menu>

<div class="cont-prin">
  <div class="hijo">
    
    <div class="cont-cert">
      <a href="https://www.credly.com/badges/6eefcda2-4053-4066-a236-d7203cbdef5e/linked_in_profile" target="_blank">
        <div class="book">
          <img class="img" src="../../../assets/imgs/Certifications/Google.png" alt="">
          <div class="cover">
            <p>Google Data Analytics Certificate</p>
          </div>
        </div>
      </a>
    </div>

    <div class="cont-cert">
      <a href="https://www.efset.org/cert/LiRy9x" target="_blank">
        <div class="book">
          <img class="img" src="../../../assets/imgs/Certifications/EF SET English.png" alt="">
          <div class="cover">
            <p>EF SET Certificate</p>
          </div>
        </div>
      </a>
    </div>

    <div class="cont-cert">
      <a href="https://drive.google.com/file/d/1_wD8EtS-bULexT-HLLHiNHppjCBvHa2N/view?usp=drive_link" target="_blank">
        <div class="book">
          <img class="img" src="../../../assets/imgs/Certifications/IA.png" alt="">
          <div class="cover">
            <p>Artificial intelligence</p>
          </div>
        </div>
      </a>
    </div>

    <div class="cont-cert">
      <a href="https://drive.google.com/file/d/1RVEHPZC9uiFhzE7ac8hx_XCrpZkMiwea/view?usp=drive_link" target="_blank">
        <div class="book">
          <img class="img" src="../../../assets/imgs/Certifications/Python.png" alt="">
          <div class="cover">
            <p>Python</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>


<app-footer></app-footer>