.cont-prin{
    width: 90%;
    margin: auto;
    margin-top: 0px;
    text-align: -webkit-center;
    justify-content: center;

}

.hijo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    text-align: -webkit-center;
    gap: 40px;
    padding: 60px;
}
.book {
    position: relative;
    border-radius: 10px;
    width: 95%;
    height: 300px;
    background-color: rgb(182, 182, 182);
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    /* background-image: url(../../../assets/imgs/Certifications/Google.png); */
    background-size: cover;
    background-repeat: no-repeat;
  }
  .book .img{
    width: 95%;
    height: 95%;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: #2e425e;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: whitesmoke;
    background: #1f2d40;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid #304562;
    border-radius: 3px;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }

  p {
    font-size: 20px;
    font-weight: bolder;
  }
  .img-cert{
    background-image: url(../../../assets/imgs/Certifications/Google.png);
  }

  @media(max-width: 1000px){
    .hijo{
      display: grid;
    grid-template-columns: repeat(2, 2fr);
    }
    .book .img{
      width: 250px;
      height: 285px;
    }
  }
  @media(max-width: 600px){
    .hijo{
      display: grid;
    grid-template-columns: repeat(1, 4fr);
    padding: 22px;
    }
    .book:active .cover,
  .book:focus .cover {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: rotateY(-80deg);
      -ms-transform: rotateY(-80deg);
      transform: rotateY(-80deg);
  }
  .book .img{
    width: 250px;
    height: 285px;
  }
  }